@font-face {
    font-family: Oregular;
    src: url(OMNES-ME.TTF);
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.post-box, .comment-box {
    border: 1px solid #A2A2A2;
    background: white;
    margin-bottom: 20px;
}

.post-box textarea, .comment-box textarea {
    border: none;
    box-shadow: none;
    padding: 0 10px;
    height: 20px;
}

.comment-box textarea {
    font-size: 13px;
}

.post-box #publicate_pub {
    color: #fff;
    padding: 5px;
    margin-left: 8px;
}

.post-box .footer {
    background-color: #f2f2f2;
    padding: 10px;
    display: none;
}

.post-box.comment-textarea .footer {
    display: block;
}

.comment-list .comment-item {
    margin-bottom: 20px;
}

.name-bold {
    font-weight: bold;
}

.comment-list .comment-item p {
    font-size: 13px;
}

.post-box .textarea-container {
    padding: 10px 0;
    position: relative;
}

.comment-box .textarea-container {
    padding: 5px 0;
    position: relative;
}

.menu {
    background: #EEE;
    border: 1px solid gray;
}

.option {
    background: #EEE;
    padding: 10px;
    cursor: pointer;
}

.option:hover, .active {
    background: #289f7b;
    color: white;
}

.hilite {
    background: lightblue;
    border-radius: 2px;
}

pre.tagmate-hiliter {
    border: 0 !important;
    word-break: normal;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .avatar {
    padding: 10px 0 10px 15px;
}

.navbar-nav i {
    margin: 0 10px;
}

.col-fixed {
    margin-top: 50px;
    position: static;
}

.bs-sidebar .nav > .active > ul {
    display: block;
}

.fullname {
    display: none;
}

/* Widen the fixed sidebar */
.col-fixed {
    width: 213px;
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
    margin-top: 0;
    margin-bottom: 0;
}

.avatar-box, .fullname-box {
    float: left;
}

.avatar-box {
    width: 28%;
    vertical-align: middle;
    margin-right: 2%;
}

.avatar-box img {
    max-width: 100%;
}

.fullname-box {
    width: 68%;
    vertical-align: middle;
}

.fullname-box h5 {
    line-height: 20px;
    margin-left: 10px;
}

.panel {
    margin-top: 20px;
}

.panel .list-group-item {
    font-size: 14px;
}

.chat-container {
    height: 88%;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.chat-region .list-group-item {
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.chat-region .status {
    border-radius: 7px;
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 5px;
}

.chat-zone-region .status {
    margin: 6px 5px 0 0;
    border-radius: 5px;
    width: 8px;
    vertical-align: top;
    height: 8px;
    display: inline-block;
}

.status-on {
    background: rgb(85, 207, 85);
}

.status-off {
    background: lightgray;
}

#new-post-region {
    position: relative;
    border-bottom: 1px solid rgb(185, 185, 185);
    margin-bottom: 20px;
}

.circle-mini {
    margin: 0 10px 0 5px;
    font-size: 20px;
}

.circle-mini-mini {
    margin: 0 5px 0 0;
}

.circle-text {
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
}

.load_more {
    text-align: center;
}

.user-mini-resume {
    margin-top: 15px;
}

.post-fullname {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 3px 0;
}

.post-left, .post-right {
    float: left;
}

.post-right {
    width: 87%;
    margin-left: 2%;
}

.post-left {
    width: 10%;
}

.post-left img {
    max-width: 100%;
}

.post-text {
    font-size: 14px;
}

.post-actions {
    font-size: 12px;
}

.post-actions .public {
    color: dimGray;
    cursor: pointer;
}

.post-actions span {
    margin: 0 6px;
}

.post-actions span.make-like-post, .post-actions span.make-like-comment {
    color: #1a627d;
    cursor: pointer;
}

.post-actions span:first-child {
    margin: 0;
}

.post-actions .date {
    color: gray;
}

.post-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.mybody {
    margin-top: 40px;
}

.comments {
    margin: 15px 0 0 11%;
}

.comment-user {
    float: left;
    margin-right: 10px;
}

.comment-textarea {
    float: left;
    width: 90%;
}

#menu {
    display: none;
    position: fixed;
    width: 500px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid gray;
}

.comment-item .date {
    color: gray;
    font-size: 12px;
}

.dot-separator:after {
    content: '·';
}

.title {
    float: left;
}

.profile-layout label {
    font-weight: normal;
}

.education-item, .work-item {
    border-bottom: 1px solid #18bc9c;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.education-item:last-child, .work-item:last-child {
    border: none;
    margin: 0;
}

.link-item {
    margin-bottom: 10px;
    cursor: pointer;
    display: block;
    text-align: right;
    float: right;
    margin-left: 10px;
}

.remove-item {
    color: #da3942;
}

.save-item {
    color: #407cba;
}

.link-item:hover {
    text-decoration: underline;
}

.education-item:last-child .link-item, .work-item:last-child .link-item {
    margin-bottom: 0;
}

.add-new {
    float: right;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 16px;
    padding: 4px 8px;
    font-size: 12px;
    background: whitesmoke;
    border: 1px solid rgb(224, 224, 224);
    color: black;
}

.add-new:hover {
    background: rgb(184, 184, 184);
    border: 1px solid #eee;
    color: white;
}

.profile-layout .form-horizontal {
    overflow: hidden;
}

.contact-photo {
    margin-right: 5px;
    float: left;
}

.chat-zone-region {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.chat-window {
    width: 260px;
    border: 1px solid gray;
    margin-right: 20px;
    vertical-align: bottom;
    display: inline-block;
}

.chat-window-header {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 13px;
    background: #222;
    position: relative;
}

.chat-window-header a {
    color: white;
    line-height: 20px;
}

.chat-window-header a:hover {
    text-decoration: underline;
}

.chat-window-header .chat-window-close {
    cursor: pointer;
    color: rgb(218, 218, 218);
}

.chat-window.minimized .chat-window-close {
    color: #3b3b3b;
}

.chat-window-header .chat-window-close:hover {
    color: white;
}

.chat-window.minimized .chat-window-close:hover {
    color: black;
}

.chat-window.minimized {
    width: 200px;
}

.chat-window.minimized .chat-window-header {
    background: #D1E5E0;
}

.chat-window.minimized a {
    display: none;
}

.chat-window-body {
    height: 200px;
    background: whitesmoke;
    border-bottom: rgb(202, 202, 202) solid 1px;
}

.list-msgs {
    overflow: auto;
    height: 200px;
    background: whitesmoke;
}

.chat-window-footer {
    position: relative;
    padding: 5px 0;
    background: white;
}

.chat-window-footer textarea {
    display: block;
    width: 100%;
    padding: 0 10px;
    background-color: #fff;
    border: none;
    max-height: 90px;
    font-family: "Arial";
    font-size: 13px;
}

textarea:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.user-fullname-chat {
    text-align: left;
    height: 16px;
    margin-right: 19px;
    width: 188px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

.user-fullname-chat span {
    display: none;
    line-height: 20px;
}

.chat-window.minimized span {
    display: inline;
}

.contact-fullname {
    float: left;
    max-width: 69%;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-window.minimized .user-fullname-chat {
    width: 128px;
    color: black;
}

.msg-item {
    margin: 8px 5px;
}

.msg-photo {
    float: left;
    margin-right: 14px;
}

.msg-text {
    padding: 5px 10px;
    color: #3e454c;
    background: rgb(197, 220, 235);
    float: left;
    position: relative;
    max-width: 50%;
    margin: 0;
    font-size: 13px;
    word-break: break-word;
}

.msg-text.herhim {
    background: rgb(197, 220, 235);
    float: left;
}

.msg-text.own {
    background: rgb(169, 235, 180);
    float: right;
    margin-right: 8px;
}

.msg-text.own:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 11px;
    border-color: transparent rgb(169, 235, 180);
    display: block;
    width: 0;
    z-index: 1;
    right: -8px;
    top: 7px;
}

.msg-text.herhim:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 6px 11px 6px 0;
    border-color: transparent rgb(197, 220, 235);
    display: block;
    width: 0;
    z-index: 1;
    left: -8px;
    top: 7px;
}

.chat-window-list {
    overflow: hidden;
    text-align: right;
}

.user-info div.control-label, .work-region div.control-label, .education-region div.control-label {
    text-align: left;
}

.panel-default > .panel-heading {
    padding: 2px 15px !important;
}

.circle-item {
    width: 120px;
    border-radius: 77px;
    height: 120px;
    float: left;
    margin: 10px;
    background: #E0E0E0;
    border: 1px solid silver;
    cursor: pointer;
}

.circle-item:hover .circle-inner {
    background: white;
}

.circle-inner {
    width: 100px;
    color: #4a4a4a;
    font-family: Oregular;
    border-radius: 77px;
    height: 100px;
    background: #EEEEEE;
    margin: 9px 9px;
    text-align: center;
    float: left;
}

.circle-inner p {
    text-align: center;
    margin: 25px auto 10px;
    font-size: 15px;
    max-width: 90%;
    font-weight: bold;
}

.search-user {
    border: 1px solid gray;
    padding: 10px;
    margin-left: 10px;
    width: 95%;
}

.search-user:focus {
    outline: none;
}

.user-item {
    width: 121px;
    margin: 15px 10px;
    background: rgb(226, 226, 226);
    float: left;
    font-size: 13px;
    color: rgb(66, 66, 66);
    cursor: pointer;
    border: 1px solid rgb(151, 151, 151);
}

.user-item .img-container {
    max-width: 120px;
    overflow: hidden;
    border-bottom: 1px solid rgb(151, 151, 151);
}

.user-item .btn-group {
    margin: 0 5px 5px 5px;
}

.user-item p {
    padding: 10px;
    height: 55px;
    margin-bottom: 0;
    color: #4a4a4a;
    font-size: 14px;
    font-family: Oregular;
}

.user-item select {
    border: 1px solid rgb(167, 167, 167);
    outline: none;
    background: white;
    /*height: 30px;*/
    width: 80%;
    text-align: center;
    padding: 5px;
    margin: 0 10% 10px;
}

.dropdown-menu > li > a {
    padding: 5px 10px !important;
}

button.multiselect {
    padding-left: 3px !important;
}

button.with-color {
    background: rgb(48, 121, 38);
    color: white;
}

button.with-color:hover {
    background: rgb(39, 99, 31);
    color: white;
}

button.with-color:focus {
    background: rgb(39, 99, 31);
    color: white;
}

.dropdown-menu {
    top: 0 !important;
}