<% if(online){ %>
<div class="status status-on"></div>
<% } else { %>
<div class="status status-off"></div>
<% } %>
<div class="user-fullname-chat">
    <a href="#<%= email.substr(0, email.indexOf("@")) %>"><%- fullname %></a>
    <span><%- fullname %></span>
</div>
<span class="chat-window-close" title="Cerrar">X</span>