<% if(me_id() == from_user){ %>
<p class="msg-text own"><%- text %></p>
<% } else { %>
<img class="msg-photo" src="<%= from_photo %>" alt="contact-photo" width="30" height="30"/>
<p class="msg-text herhim"><%- text %></p>
<% } %>
<div class="clearfix"></div>