<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="title">Personas</h5>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <input type="text" placeholder="Buscar persona..." class="search-user"/>

        <div class="users-region"></div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="title">Círculos de amistades</h5>
        <span class="add-new"><i class="glyphicon glyphicon-plus"></i></span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="circles-region"></div>
    </div>
</div>