<div class="comment-user">
    <img src="<%= user.photo %>" alt="user-photo" width="30">
</div>
<div class="comment-textarea">
    <p>
        <a class="name-bold" href="#<%= user.email.substr(0, user.email.indexOf("@")) %>"><%- user.fullname %></a>
        <%= text %>
    </p>

    <div class="post-actions">
        <time class="date" datetime="<%= date_comment %>"><%- date_comment %></time>
        <span class="dot-separator"></span>
        <span title="Me gusta" class="make-like-comment">
            <% if(melike){ %>
            Ya no me gusta
            <% } else { %>
            Me gusta
            <% } %>
        </span>
        <% if (likes > 0) { %>
        <span class="dot-separator"></span>
        <span class="likes"><%- likes %>
            <i class="glyphicon glyphicon-heart"></i></span>
        <% } %>
    </div>
</div>
<div class="clearfix"></div>