<img src="<%- photo %>" width="30" class="contact-photo" alt="contact-photo"/>
<span class="contact-fullname"><%- fullname %></span>
<% if(online){ %>
<div class="status status-on"></div>
<% } else { %>
<div class="status status-off"></div>
<% } %>
<div class="clearfix"></div>