<form role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-4">Colegio:</label>

        <div class="col-8">
            <label class="control-label"><%- school %></label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Grado:</label>

        <div class="col-8">
            <label class="control-label"><%- degree %></label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Descripción:</label>

        <div class="col-8">
            <div class="control-label"><%- description %></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Año de inicio:</label>

        <div class="col-8">
            <label class="control-label"><%- start_year %></label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Año de finalizacion:</label>

        <div class="col-8">
            <label class="control-label"><%- end_year %></label>
        </div>
    </div>
</form>
