<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#home">Tu Empresa</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#home"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="#about"><i class="glyphicon glyphicon-inbox"></i>

                <div class="badge">0</div>
            </a>
        </li>
        <li><a href="#contact"><i class="glyphicon glyphicon-bullhorn"></i>

                <div class="badge">0</div>
            </a></li>
        <!--li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><img class="avatar" src="{{ MEDIA_URL }}{{ user.profile.photo }}" alt="user-photo" width="55"/></li>
        <li><a href="#{{ user.profile.unique_name }}" class="fullname"><%- first_name + ' ' + last_name %></a></li>
    </ul>
</div>