<div class="textarea-container">
    <textarea placeholder="¿Qué hay de nuevo?" class="form-control" id="new_post" cols="50"
              rows="4"></textarea>
</div>
<div class="footer">
    <div class="circles"></div>
    <select data-placeholder="Compartir con..." class="chosen-select" multiple tabindex="4">
        <option value="0" selected>Público</option>
        <% _.each(items, function (circle, index) { %>
        <option value="<%- circle.id %>"><%- circle.name %></option>
        <% }); %>
    </select>
    <button id="publicate_pub" class="btn btn-success">Publicar</button>
</div>