<div class="user-mini-resume" xmlns="http://www.w3.org/1999/html">
    <div class="avatar-box">
        <img src="<%= profile.photo %>" alt="user-photo" width="130"/>
    </div>
    <div class="fullname-box">
        <h4><%- first_name %> <%- last_name %></h4>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel panel-info user-basics">
    <div class="panel-heading">
        <span class="title">Información Básica</span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-4 control-label">Nombres</label>

                <div class="col-8">
                    <input type="text" class="form-control first_name" placeholder="¿Cómo te llamas?"
                           value="<%- first_name %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Apellidos</label>

                <div class="col-8">
                    <input type="text" class="form-control last_name" placeholder="¿Cómo te apellidas?"
                           value="<%- last_name %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Email</label>

                <div class="col-8">
                    <input type="text" class="form-control email"
                           value="<%- email %>">
                </div>
            </div>
            <span class="link-item save-item">Guardar</span>
        </form>
    </div>
</div>
<div class="panel panel-info user-info">
    <div class="panel-heading">
        <span class="title">Información Personal</span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-4 control-label">Biografía</label>

                <div class="col-8">
                    <textarea class="form-control bio"><%- profile.bio %></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Titulo de trabajo</label>

                <div class="col-8">
                    <input type="text" class="form-control job_title" value="<%- profile.job_title %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Department</label>

                <div class="col-8">
                    <input type="text" class="form-control department" value="<%- profile.deparment %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Dirección</label>

                <div class="col-8">
                    <input type="text" class="form-control location" value="<%- profile.location %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Fecha de nacimiento</label>

                <div class="col-8">
                    <input type="date" class="form-control birthday" value="<%- profile.birthday %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Información extra relevante</label>

                <div class="col-8">
                    <textarea class="form-control significant_other"><%- profile.significant_other %></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Habilidades</label>

                <div class="col-8">
                    <textarea class="form-control expertise"><%- profile.expertise %></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Intereses</label>

                <div class="col-8">
                    <textarea class="form-control interests"><%- profile.interests %></textarea>
                </div>
            </div>
            <span class="link-item save-item">Guardar</span>
        </form>
    </div>
</div>
<div class="panel panel-info user-contact">
    <div class="panel-heading">
        <span class="title">Contacto</span>
        <span class="save-info add-new">Guardar</span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-4 control-label">Teléfono de trabajo</label>

                <div class="col-8"><input type="text" class="form-control work_phone"
                                             value="<%- profile.work_phone %>"></div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">Celular</label>

                <div class="col-8"><input type="text" class="form-control mobile_phone"
                                             value="<%- profile.mobile_phone %>"></div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">IM</label>

                <div class="col-8"><input type="text" class="form-control im"
                                             value="<%- profile.im %>"></div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">Twitter</label>

                <div class="col-8"><input type="text" class="form-control twitter_username"
                                             value="<%- profile.twitter_username %>"></div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">Skype</label>

                <div class="col-8"><input type="text" class="form-control skype_name"
                                             value="<%- profile.skype_name %>"></div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">Facebook</label>

                <div class="col-8"><input type="text" class="form-control facbook_profile"
                                             value="<%- profile.facbook_profile %>"></div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">LinkedIn</label>

                <div class="col-8"><input type="text" class="form-control linkedin_profile"
                                             value="<%- profile.linkedin_profile %>"></div>
            </div>
            <span class="link-item save-item">Guardar</span>
        </form>
    </div>
</div>