<div class="post-left">
    <img src="<%= user.photo %>" alt="user-photo" height="50"/>
</div>

<div class="post-right">
    <p class="post-fullname"><a href="#<%= user.email.substr(0, user.email.indexOf("@")) %>"><%- user.fullname %></a>
        <% if(workgroup_id){ %>
        <i class="glyphicon glyphicon-play"></i>
        <a href="#groups/<%= workgroup_id %>/<%= workgroup_name.replace(".", "").toLowerCase() %>"><%= workgroup_name %></a>
        <% } %>
    </p>

    <p class="post-text"> <%= text %> </p>

    <div class="post-actions">
        <span title="Me gusta" class="make-like-post">
            <% if(melike){ %>
            Ya no me gusta
            <% } else { %>
            Me gusta
            <% } %>
        </span>
        <span class="dot-separator"></span>
        <span>Compartir</span>
        <% if (likes > 0) { %>
        <span class="dot-separator"></span>
        <span class="likes"><%- likes %>
            <i class="glyphicon glyphicon-heart"></i>
        </span>
        <% } %>
        <span class="dot-separator"></span>
        <time class="date" datetime="<%= date_pub %>"><%- date_pub %></time>
        <% if(is_public){ %>
        <span class="public glyphicon glyphicon-globe" title="Esta publicación es pública"></span>
        <% } else { %>
        <span class="public glyphicon glyphicon-user" title="Esta publicación es privada"></span>
        <% } %>
    </div>
</div>
<div class="clearfix"></div>
<div class="comments">
    <div class="comment-list"></div>
    <div class="comment-footer">
        <div class="comment-user">
            <img src="<%= me_photo() %>" alt="user-photo" width="30"/>
        </div>
        <div class="comment-box comment-textarea">
            <div class="textarea-container">
                <textarea placeholder="Deja un comentario..." class="form-control" id="new_post" cols="50"></textarea>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>