<div class="user-mini-resume">
    <div class="avatar-box">
        <img src="{{ MEDIA_URL }}{{ user.profile.photo }}" alt="user-photo"
             width="55"/>
    </div>
    <div class="fullname-box">
        <h5><%- first_name + ' ' + last_name %></h5>
    </div>
    <div class="clearfix"></div>
</div>

<div class="home-links">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h5>Navegación</h5></div>
        <div class="list-group">
            <a href="#home" class="list-group-item home"> Inicio </a>
            <a class="list-group-item">Bandeja</a>
            <a class="list-group-item">Notificaciones</a>
        </div>
    </div>
</div>
<div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h5>Acciones</h5></div>
        <div class="list-group">
            <a class="list-group-item">Grupos</a>
            <a href="#circulos" class="list-group-item circulos">Circulos</a>
        </div>
    </div>
</div>