<div class="panel panel-success">
    <div class="panel-heading">
        <span class="title">Trabajo</span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body work-list">

    </div>
</div>