<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="title">Educación</span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body education-list">

    </div>
</div>