<div class="img-container">
    <% if(photo){ %>
    <img src="<%- photo %>" alt="" width="119"/>
    <% } else { %>
    <img src="/static/img/default.jpg" alt="" width="119"/>
    <% } %>
</div>
<p><%- fullname %></p>
<select class="multiselect" multiple="multiple">
    <% circles().each(function(circle, index){ %>
    <option value="<%- circle.get("id") %>"><%- circle.get("name") %></option>
    <% }); %>
</select>