<div class="user-mini-resume" xmlns="http://www.w3.org/1999/html">
    <div class="avatar-box">
        <img src="<%= profile.photo %>" alt="user-photo" width="130"/>
    </div>
    <div class="fullname-box">
        <h4><%- first_name %> <%- last_name %></h4>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel panel-info user-basics">
    <div class="panel-heading">
        <span class="title">Información Básica</span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-4 control-label">Nombres:</label>

                <div class="col-8">
                    <label class="first_name control-label"><%- first_name %></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Apellidos:</label>

                <div class="col-8">
                    <label class="control-label"><%- last_name %></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-4 control-label">Email:</label>

                <div class="col-8">
                    <label class="control-label"><%- email %></label>
                </div>
            </div>
        </form>
    </div>
</div>
<% if(profile.bio || profile.job_title || profile.department || profile.location || profile.birthday || profile.significant_other || profile.expertise || profile.interests){ %>
<div class="panel panel-info user-info">
    <div class="panel-heading">
        <span class="title">Información Personal</span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <% if(profile.bio){ %>
            <div class="form-group">
                <label class="col-4 control-label">Biografía:</label>

                <div class="col-8">
                    <div class="control-label"><%- profile.bio %></div>
                </div>
            </div>
            <% } %>
            <% if(profile.job_title){ %>
            <div class="form-group">
                <label class="col-4 control-label">Titulo de trabajo:</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.job_title %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.deparment){ %>
            <div class="form-group">
                <label class="col-4 control-label">Department:</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.deparment %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.location){ %>
            <div class="form-group">
                <label class="col-4 control-label">Dirección:</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.location %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.birthday){ %>
            <div class="form-group">
                <label class="col-4 control-label">Fecha de nacimiento:</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.birthday %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.significant_other){ %>
            <div class="form-group">
                <label class="col-4 control-label">Información extra relevante:</label>

                <div class="col-8">
                    <div class="control-label"><%- profile.significant_other %></div>
                </div>
            </div>
            <% } %>
            <% if(profile.expertise){ %>
            <div class="form-group">
                <label class="col-4 control-label">Habilidades:</label>

                <div class="col-8">
                    <div class="control-label"><%- profile.expertise %></div>
                </div>
            </div>
            <% } %>
            <% if(profile.interests){ %>
            <div class="form-group">
                <label class="col-4 control-label">Intereses:</label>

                <div class="col-8">
                    <div class="control-label"><%- profile.interests %></div>
                </div>
            </div>
            <% } %>
        </form>
    </div>
</div>
<% } %>
<% if(profile.work_phone || profile.mobile_phone || profile.im || profile.twitter_username || profile.skype_name || profile.facebook_profile || profile.linkedin_profile){ %>
<div class="panel panel-info user-contact">
    <div class="panel-heading">
        <span class="title">Contacto</span>

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <% if(profile.work_phone){ %>
            <div class="form-group">
                <label class="col-4 control-label">Teléfono de trabajo</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.work_phone %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.mobile_phone){ %>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">Celular</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.mobile_phone %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.im){ %>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">IM</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.im %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.twitter_username){ %>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">Twitter</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.twitter_username %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.skype_name){ %>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">Skype</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.skype_name %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.facebook_profile){ %>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">Facebook</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.facebook_profile %></label>
                </div>
            </div>
            <% } %>
            <% if(profile.linkedin_profile){ %>
            <div class="form-group">
                <label class="col-4 control-label" for="exampleInputPassword1">LinkedIn</label>

                <div class="col-8">
                    <label class="control-label"><%- profile.linkedin_profile %></label>
                </div>
            </div>
            <% } %>
        </form>
    </div>
</div>
<% } %>