<form role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-4">Empleador:</label>

        <div class="col-8">
            <label class="control-label"><%- employer %></label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4" for="exampleInputEmail1">Title:</label>

        <div class="col-8">
            <label class="control-label"><%- title %></label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Description:</label>

        <div class="col-8">
            <div class="control-label"><%- description %></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Año de inicio:</label>

        <div class="col-8">
            <label class="control-label"><%- start_year %></label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Año de finalizacion:</label>

        <div class="col-8">
            <label class="control-label"><%- end_year %></label>
        </div>
    </div>
</form>