<form role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-4">Empleador</label>

        <div class="col-8">
            <input type="text" class="form-control employer" value="<%- employer %>"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-4" for="exampleInputEmail1">Title</label>

        <div class="col-8"><input type="text" class="form-control title" value="<%- title %>"></div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Description</label>

        <div class="col-8"><textarea type="text" class="form-control description"><%- description %></textarea></div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Año de inicio</label>

        <div class="col-8"><select class="form-control start-year">
                <% _.each(_.range(1953, 2013),function(value, index){ %>
                <option value="<%- value %>"><%- value %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-4">Año de finalizacion</label>

        <div class="col-8"><select class="form-control end-year">
                <% _.each(_.range(1953, 2013),function(value, index){ %>
                <option value="<%- value %>"><%- value %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <span class="link-item remove-item">Remover</span>
    <span class="link-item save-item">Guardar</span>
</form>