<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Red Social Corporativa - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tu Empresa</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#about"><i class="glyphicon glyphicon-inbox"></i>

                    <div class="badge">0</div>
                </a>
                </li>
                <li><a href="#contact"><i class="glyphicon glyphicon-bullhorn"></i>

                    <div class="badge">0</div>
                </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <li><img class="avatar" src="{{ MEDIA_URL }}{{ user.profile.photo }}" alt="user-photo" width="55"/></li>
                <li><a class="fullname">{{ user.get_full_name }}</a></li>
            </div>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-3">
                <div class="col-fixed">
                    <div class="user-mini-resume">
                        <div class="avatar-box">
                            <img src="{{ MEDIA_URL }}{{ user.profile.photo }}" alt="user-photo"
                                 width="55"/>
                        </div>
                        <div class="fullname-box">
                            <h4>{{ user.get_full_name }}</h4>
                        </div>
                    </div>

                    <div class="home-links">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading"><h4>Navegación</h4></div>
                            <div class="list-group">
                                <a href="#" class="list-group-item active"> Inicio </a>
                                <a href="#" class="list-group-item">Bandeja</a>
                                <a href="#" class="list-group-item">Notificaciones</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading"><h4>Acciones</h4></div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Grupos</a>
                                <a href="#" class="list-group-item">Proyectos</a>
                                <a href="#" class="list-group-item">Contactos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h4>Publicar</h4>

                <div class="new_post_box">
                    <textarea class="form-control" id="new_post" cols="50" rows="2"></textarea>
                    <button id="publicate_pub" class="btn btn-success">Publicar</button>
                </div>

                <p class="load_more"><a class="btn btn-default" href="#">Cargar más <i
                        class="glyphicon glyphicon-plus"></i></a></p>
            </div>
            <div class="col-3">
                <div class="col-fixed" id="chat-contacts">
                    <div>
                        <div class="list-group">
                            <a href="#" class="list-group-item">Dick Van Ocampo
                                <div class="status status-on"></div>
                            </a>
                            <a href="#" class="list-group-item">José Manuel Ríos Vega
                                <div class="status status-on"></div>
                            </a>
                            <a href="#" class="list-group-item">Ruddy Lavado
                                <div class="status status-on"></div>
                            </a>
                            <a href="#" class="list-group-item">Carlos Roca
                                <div class="status status-off"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; Kodevian</p>
        </footer>
    </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
</body>
</html>
