<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Red Social Corporativa - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/chosen.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
    <style>
        .container {
            width: 970px;
        }
    </style>

    <!-- Templates -->
    <script type="application/x-ejs" id="post-template">
        {% include "tpls/post-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="new-post-template">
        {% include "tpls/new-post-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="stream-layout-template">
        {% include "tpls/stream-layout-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="profile-layout-template">
        {% include "tpls/profile-layout-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="personal-template">
        {% include "tpls/personal-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="user-personal-template">
        {% include "tpls/user-personal-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="work-template">
        {% include "tpls/work-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="work-readonly-template">
        {% include "tpls/work-readonly-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="education-template">
        {% include "tpls/education-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="education-readonly-template">
        {% include "tpls/education-readonly-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="comment-template">
        {% include "tpls/comment-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="education-list-template">
        {% include "tpls/education-list-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="user-education-list-template">
        {% include "tpls/user-education-list-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="work-list-template">
        {% include "tpls/work-list-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="user-work-list-template">
        {% include "tpls/user-work-list-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="navbar-template">
        {% include "tpls/navbar-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="right-nav-template">
        {% include "tpls/right-nav-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="contact-template">
        {% include "tpls/contact-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="chat-window-template">
        {% include "tpls/chat-window-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="chat-window-header-template">
        {% include "tpls/chat-window-header-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="chat-msg-template">
        {% include "tpls/chat-msg-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="circles-layout-template">
        {% include "tpls/circles-layout-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="circle-template">
        {% include "tpls/circle-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="user-template">
        {% include "tpls/user-template.ejs" %}
    </script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
</div>

<div class="mybody">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-3 right-nav-region">
            </div>
            <div class="col-6">
                <div id="content">
                </div>
            </div>
            <div class="col-3">
                <div class="col-fixed chat-container chat-region">
                </div>
            </div>
        </div>

        <hr>
    </div>
</div>
<div class="chat-zone-region"></div>

<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/ajaxSetup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.timeago.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.timeago.es.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.autosize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.fieldselection.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.scrollTo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.tagmate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/underscore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.wreqr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.babysitter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.compute.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.routefilter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.marionette.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/chosen.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap-multiselect.js"></script>
<script src="//localhost:3000/socket.io/socket.io.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/app/rsc.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/profile/router.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/profile/entities.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/profile/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/profile/controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/circulos/router.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/circulos/entities.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/circulos/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/circulos/controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/navegacion/controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/navegacion/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/stream/router.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/stream/entities.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/stream/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/stream/controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/chat/entities.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/chat/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/chat/controller.js"></script>
<script type="text/javascript">
    RSC.start();
</script>
</body>
</html>
