<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Login - Red Social Corporativa</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <form class="form-signin" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Por favor Loguéate</h2>
        <input type="email" class="form-control" name="username" placeholder="Email empresarial" autofocus>
        <input type="password" class="form-control" name="password" placeholder="Contraseña">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Recordarme
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>

</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
